
#page {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: "head head"
                       "nav  main"
                       "foot  foot";
  grid-template-rows: 100px 1fr 30px;
  grid-template-columns: 100px 1fr;
}
  
#page > header {
  grid-area: head;
  background-color: rgb(5 29 40 / 80%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  color: azure; 
}
  
#page > nav {
  grid-area: nav;
  background-color: rgb(5 29 40 / 80%);
  
}

  #page > main {
  grid-area: main;

}

  #page > footer {
  grid-area: foot;
  background-color: rgb(5 29 40 / 80%);
  color: azure; 
}

.button-container{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "home"
                       "menu"
                       "contact";
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  border-right: 3px solid beige;
}

.button-container > button {
  transform: rotate(270deg);
  align-self: center;
  justify-self: center;
  background: none;
  border: none;
  font-size: x-large;
  padding: 23%;
  color: azure;
}
.button-container > button:hover{
border-bottom: 6px solid beige;
transition: all 250ms ease;
cursor: pointer;
}
.button-container > button:focus{
  border-bottom: 6px solid rgb(199, 199, 11);
}