#about {
  margin-top: 150px;
  font-family: 'Oldenburg', cursive;
  font-size: 30px;
}
#about h1 {
  margin: 0;
  padding: 30px 15px;
  font-size: 35px;
  border-top: 2px solid var(--pink);
  border-bottom: 2px solid var(--pink);
}
/* #page > main { */
    /* grid-area: main; */
    /* background-color: lavender; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-content: center; */
    /* padding: 4%; */
    /* gap: 20px; */
/* } */
/* .card-container{ */
    /* background:silver; */
    /* display: flex; */
    /* flex-direction: column; */
    /* width: 275px; */
    /* height: auto; */
    /* align-items: center; */
    /* -webkit-transition: box-shadow 200ms ease,-webkit-transform 200ms ease; */
    /* transition: box-shadow 200ms ease,transform 200ms ease; */
    /* box-shadow: 0px 0px 0 black; */
    /* gap: 10px; */
/*  */
/* } */
/* .card-container:hover{ */
    /* box-shadow: -8px 8px 0px 0px black; */
    /* transform: translate(4px,-4px); */
/*  */
/* } */
/* .card-container > p{ */
/* text-align: center; */
/* } */
/* .placeholder{ */
    /* color: azure; */
    /* grid-area: placeholder; */
    /* width: 200px; */
    /* height: 200px; */
    /* border-radius: 50%; */
/* } */
/* .placeholder >img{ */
    /* width: inherit; */
    /* height: inherit; */
/*  */
/* } */
/*  */
/* .seperator{ */
  /* border-top: 1px solid; */
  /* margin:5px 0 5px 0; */
  /* width: 80%; */
/*  */
/* } */
/* .menu-button-container{ */
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* gap: 20px; */
/* } */
/* .menu-button{ */
  /* font-size: 50px; */
/* } */
/*  */
/* .menu-button:active { */
    /* transform: scale(1.1); */
/* } */
/*  */
/* .menu-button:hover { */
  /* background-color: #FFFFFF; */
  /* border-color: rgba(0, 0, 0, 0.19); */
/* } */
/*  */
/* @media (min-width: 768px) { */
  /* .menu-button { */
    /* font-size: 30px; */
    /* min-width: 200px; */
    /* padding: 14px 16px; */
  /* } */
/* } */